body {
    background-color: #0074D9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-weight: 800;
    font-size: 3rem;
}

.label {
    margin-top: 5px;
    font-weight: 600;
}

.header-section {
    text-align: center;
    margin: 1rem auto;
    width: 75%;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 2px 2px #AAAAAA;
    background-color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: 1rem;
}

select {
    margin-right: 1rem;
}

.book-list {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.book-item {
    /* border: 2px solid black; */
    background-color: #f3f3f3;
    margin: 1rem auto;
    box-shadow: 0 0 2px 2px #AAAAAA;
    border-radius: .75rem;
    padding-bottom: 1.5rem;
}

.book-image {
    margin: 1rem auto;
    width: 400px;
    height: 175px;
}

.book-title {
    width: 75%;
    margin: 0 auto;
    font-weight: 800;
}

.book-author {
    font-weight: 500;
}

.book-abstract {
    width: 75%;
    margin: 0 auto;
}